[build]
  command = "npm run build"
  functions = "lambda"
  publish = "dist"

[[redirects]]
  from = "/api/*"
  to = '/.netlify/functions/:splat'
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
